.each {
  padding: 10px;
  margin: 10px;
}
.head {
  padding: 20px;
  color: rgb(25, 221, 228);
}
.table-head {
  padding: 20px;
  background-color: rgb(11, 11, 235);
  color: aliceblue;
  width: 150px;
  text-align: center;
  border: 5px solid skyblue;
}
.data {
  padding: 5px;
  background-color: antiquewhite;
  color: black;
  text-align: center;
  border: 1px solid black;
}
.deleteOne {
  text-decoration: underline;
  cursor: pointer;
}
